@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 6, 6, 6;
  --background-end-rgb: 6, 6, 6;
  --web-red: #ef443b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cursor-main {
  width: 20px;
  height: 20px;
  position: fixed;
  border-radius: 50%;
  transition: transform 0.2s esase;
  pointer-events: none;
  z-index: 9999;
  /*background-color: var(--web-red);*/
  background-color: #fff;
}

.cursor-main.active {
  transform: scale(3);
  background-color: var(--web-red);
  transition: transform 0.3s ease, background-color 0.3s ease;

}

.grow {
  transform: scale(5);
  background-color: #fff;
  mix-blend-mode: difference;
}

.grow-small {
  transform: scale(3.5);
  background: #fff;
  mix-blend-mode: difference;
}

.cursor-main img {
  width: 100%;
  transform: translate(0%, 35%) scale(0.5);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.cursor-main img.active {
  opacity: 1;
}


